<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<body>
Bonjour {{ prenom }},<br>
<br>
<br>
<br>
L'approbation de la facture n° {{ nfacture }} a été refusée<br>
Nom du fournisseur : <span style="font-weight:bold;"> {{ nomfournisseur }} </span><br>
Nom de l'approbateur : <span style="font-weight:bold;"> {{ nomapprobateur }} </span><br>
La raison : <span style="font-weight:bold;"> {{ commentairenonapprob }} </span>
<br>
Connectez-vous pour en savoir plus à:<br>
<a href="{{ url('admin_app_factureasaisir_edit',{'id':(id)}) }}">{{ url('admin_app_factureasaisir_edit',{'id':(id) })}} </a><br>
<br>
<br>
<br>
D’avance merci pour votre collaboration.
</body>
</html>