<style>

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

    .radio .cr {
        border-radius: 50%;
    }

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

    .checkbox label input[type="checkbox"],
    .radio label input[type="radio"] {
        display: none;
    }

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }
</style>

{% block form %}

    {{ form_start(formconversation, { 'attr' : {'id' : 'send_new'} }) }}

    <div class="type_msg">
        <div class="input_msg_write">
            {{ form_widget(formconversation.title, {'attr': {'class': 'write_msg','placeholder': 'Saisir titre de la conversation', }}) }}
            {{ form_errors(formconversation.title) }}
        </div>

    </div>

    <div class="msg_history">

        <div class="col-8">
            {% for checkbox in formconversation.user.children %}

                <div class="checkbox">

                    {% if checkbox.vars['value']==user_connected.id %}
                        <label style="font-size: 1.1em">
                            {{ form_widget(checkbox, {'attr': {'class': 'btn btn-primary','checked':true}}) }}
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            {{ form_label(checkbox) }}
                            {{ form_errors(checkbox) }}
                        </label>
                    {% else %}
                    <label style="font-size: 1.1em">
                        {{ form_widget(checkbox, {'attr': {'class': 'btn btn-primary'}}) }}
                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                        {{ form_label(checkbox) }}
                        {{ form_errors(checkbox) }}
                    </label>
                    {% endif %}


                </div>

            {% endfor %}
        </div>

    </div>

    <div class="type_msg">
        <div class="input_msg_write">
            {{ form_widget(formconversation.content, {'attr': {'class': 'write_msg','placeholder': 'Saisissez votre message ...',}}) }}
            {{ form_errors(formconversation.content) }}

            <button class="msg_send_btn" id="send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                                                        aria-hidden="true"></i></button>
        </div>

    </div>


    {{ form_end(formconversation) }}


{% endblock form %}
