<ul class="nav navbar-nav hidden-xs">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-eye"></i> Lister</a>
        <ul class="dropdown-menu">
            {% if granted('user', 'user', 'list') %}<li><a href="{{ path('admin_user_user_list') }}"><i class="fa fa-user"></i>Utilisateur</a></li>{% endif %}
			{% if granted('app', 'fournisseur', 'list') %}<li><a href="{{ path('admin_app_fournisseur_list') }}"><i class="fa fa-address-book-o"></i>Fournisseur</a></li>{% endif %}
			{#{% if granted('app', 'centrecout', 'list') %}<li><a href="{{ path('admin_app_centrecout_list') }}"><i class="fa fa-building-o"></i>Centre Coût</a></li>{% endif %}#}
			{#{% if granted('app', 'tva', 'list') %}<li><a href="{{ path('admin_app_tva_list') }}"><i class="fa fa-money"></i>TVA</a></li>{% endif %}#}
			{#% if granted('app', 'facture', 'list') %}<li><a href="{{ path('admin_app_factureenerreur_list') }}"><i class="fa fa-file-excel-o"></i>Facture</a></li>{% endif %#}
        </ul>
    </li>
</ul>